# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# generated gerber file
hardware/kicad/balsun-B_Cu.gbr
hardware/kicad/balsun-B_Mask.gbr
hardware/kicad/balsun-B_Paste.gbr
hardware/kicad/balsun-B_Silkscreen.gbr
hardware/kicad/balsun-Edge_Cuts.gbr
hardware/kicad/balsun-F_Cu.gbr
hardware/kicad/balsun-F_Mask.gbr
hardware/kicad/balsun-F_Paste.gbr
hardware/kicad/balsun-F_Silkscreen.gbr
hardware/kicad/balsun-In1_Cu.gbr
hardware/kicad/balsun-In2_Cu.gbr
hardware/kicad/balsun-job.gbrjob
